VCS.SLOPlayer/Service References/SpeechService/SpeechService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/VCS.Services/SpeechService/SpeechService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VCS" />
  <xs:element name="Speak">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VCS" minOccurs="0" name="gender" type="q1:Gender" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VCS" minOccurs="0" name="age" type="q2:Age" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VCS" minOccurs="0" name="language" type="q3:Language" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpeakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpeakResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>