VCS.VCSCreator/Service References/SLORepositoryService/SLORepositoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLORepositoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/VCS.Services/SLORepositoryService/SLORepositoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/VCS.Services/SLORepositoryService/SLORepositoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/VCS.Services/SLORepositoryService/SLORepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VCS" />
      <xsd:import schemaLocation="http://localhost/VCS.Services/SLORepositoryService/SLORepositoryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLORepositoryService_GetAvailableSLOs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableSLOs" />
  </wsdl:message>
  <wsdl:message name="ISLORepositoryService_GetAvailableSLOs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableSLOsResponse" />
  </wsdl:message>
  <wsdl:message name="ISLORepositoryService_GetSLOById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSLOById" />
  </wsdl:message>
  <wsdl:message name="ISLORepositoryService_GetSLOById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSLOByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISLORepositoryService_CreateSLOFromCollaborativeSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSLOFromCollaborativeSession" />
  </wsdl:message>
  <wsdl:message name="ISLORepositoryService_CreateSLOFromCollaborativeSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSLOFromCollaborativeSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISLORepositoryService_InsertSLO_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSLO" />
  </wsdl:message>
  <wsdl:message name="ISLORepositoryService_InsertSLO_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSLOResponse" />
  </wsdl:message>
  <wsdl:message name="ISLORepositoryService_UpdateSLO_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSLO" />
  </wsdl:message>
  <wsdl:message name="ISLORepositoryService_UpdateSLO_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSLOResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLORepositoryService">
    <wsdl:operation name="GetAvailableSLOs">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLORepositoryService/GetAvailableSLOs" message="tns:ISLORepositoryService_GetAvailableSLOs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLORepositoryService/GetAvailableSLOsResponse" message="tns:ISLORepositoryService_GetAvailableSLOs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSLOById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLORepositoryService/GetSLOById" message="tns:ISLORepositoryService_GetSLOById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLORepositoryService/GetSLOByIdResponse" message="tns:ISLORepositoryService_GetSLOById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSLOFromCollaborativeSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLORepositoryService/CreateSLOFromCollaborativeSession" message="tns:ISLORepositoryService_CreateSLOFromCollaborativeSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLORepositoryService/CreateSLOFromCollaborativeSessionResponse" message="tns:ISLORepositoryService_CreateSLOFromCollaborativeSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSLO">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLORepositoryService/InsertSLO" message="tns:ISLORepositoryService_InsertSLO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLORepositoryService/InsertSLOResponse" message="tns:ISLORepositoryService_InsertSLO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSLO">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLORepositoryService/UpdateSLO" message="tns:ISLORepositoryService_UpdateSLO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLORepositoryService/UpdateSLOResponse" message="tns:ISLORepositoryService_UpdateSLO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLORepositoryService" type="tns:ISLORepositoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableSLOs">
      <soap:operation soapAction="http://tempuri.org/ISLORepositoryService/GetAvailableSLOs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSLOById">
      <soap:operation soapAction="http://tempuri.org/ISLORepositoryService/GetSLOById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSLOFromCollaborativeSession">
      <soap:operation soapAction="http://tempuri.org/ISLORepositoryService/CreateSLOFromCollaborativeSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSLO">
      <soap:operation soapAction="http://tempuri.org/ISLORepositoryService/InsertSLO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSLO">
      <soap:operation soapAction="http://tempuri.org/ISLORepositoryService/UpdateSLO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLORepositoryService">
    <wsdl:port name="BasicHttpBinding_ISLORepositoryService" binding="tns:BasicHttpBinding_ISLORepositoryService">
      <soap:address location="http://localhost/VCS.Services/SLORepositoryService/SLORepositoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>