VCS.SLOEditor/Service References/SpeechActClassificationService/SpeechActClassificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpeechActClassificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/VCS.Services/SpeechActClassificationService/SpeechActClassificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/VCS.Services/SpeechActClassificationService/SpeechActClassificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/VCS.Services/SpeechActClassificationService/SpeechActClassificationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpeechActClassificationService_GetAllSpeechActs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpeechActs" />
  </wsdl:message>
  <wsdl:message name="ISpeechActClassificationService_GetAllSpeechActs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpeechActsResponse" />
  </wsdl:message>
  <wsdl:message name="ISpeechActClassificationService_GetMainSpeechActs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMainSpeechActs" />
  </wsdl:message>
  <wsdl:message name="ISpeechActClassificationService_GetMainSpeechActs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMainSpeechActsResponse" />
  </wsdl:message>
  <wsdl:message name="ISpeechActClassificationService_ClassifyText_InputMessage">
    <wsdl:part name="parameters" element="tns:ClassifyText" />
  </wsdl:message>
  <wsdl:message name="ISpeechActClassificationService_ClassifyText_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClassifyTextResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpeechActClassificationService">
    <wsdl:operation name="GetAllSpeechActs">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpeechActClassificationService/GetAllSpeechActs" message="tns:ISpeechActClassificationService_GetAllSpeechActs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpeechActClassificationService/GetAllSpeechActsResponse" message="tns:ISpeechActClassificationService_GetAllSpeechActs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMainSpeechActs">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpeechActClassificationService/GetMainSpeechActs" message="tns:ISpeechActClassificationService_GetMainSpeechActs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpeechActClassificationService/GetMainSpeechActsResponse" message="tns:ISpeechActClassificationService_GetMainSpeechActs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClassifyText">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpeechActClassificationService/ClassifyText" message="tns:ISpeechActClassificationService_ClassifyText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpeechActClassificationService/ClassifyTextResponse" message="tns:ISpeechActClassificationService_ClassifyText_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISpeechActClassificationService" type="tns:ISpeechActClassificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSpeechActs">
      <soap:operation soapAction="http://tempuri.org/ISpeechActClassificationService/GetAllSpeechActs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainSpeechActs">
      <soap:operation soapAction="http://tempuri.org/ISpeechActClassificationService/GetMainSpeechActs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassifyText">
      <soap:operation soapAction="http://tempuri.org/ISpeechActClassificationService/ClassifyText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpeechActClassificationService">
    <wsdl:port name="BasicHttpBinding_ISpeechActClassificationService" binding="tns:BasicHttpBinding_ISpeechActClassificationService">
      <soap:address location="http://localhost/VCS.Services/SpeechActClassificationService/SpeechActClassificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>